body{
	font-family:'Montserrat', sans-serif;
	font-size: 14px;
  line-height: 16px;
  height: 98%;
}

h1 {
	font-size: 24px;
	font-weight: 600;
}

strong {
	font-weight: 600;	
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}
