body{
	font-family: "Adobe Garamond W08", adobe-garamond-pro, AGaramondPro-Regular, "Times New Roman", Times, sans-serif;;
	font-size: 14px;
  line-height: 16px;
  height: 98%;
}

h1 {
	font-size: 24px;
	font-weight: 600;
}

strong {
	font-weight: 600;	
}