.solicitations__list{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.solicitations__list__item {
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 2px 1px 4px rgba(0,0,0,.2); 
    padding: 16px;
    margin: 8px;
    min-width: 640px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
}
.solicitations__list__item__trash{
  align-self: flex-end;
}

.solicitations__list__item__trash:hover{
  cursor: pointer;
}

@media(max-width: 400px) {
  .solicitations__list__item {
    min-width: auto;
    min-height: auto;
  }
}

.solicitations__list__item p {
    margin-bottom: 4px;
}

.accepted{
    border-color: rgba(242, 113,28,.7);
}
.rejected{
    border: 1.5px solid;
    border-color: rgba(255,0,0,.7);
}

.accepted__p{
    color: #092B54;
}

.rejected__p{
    color: #E40000;
}

.accepted__p,
.rejected__p {
    font-weight: bold;
    margin-top: 8px;
}

.header__open-popup {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  background-color: #2185D0;
  border-radius: 10px;
  padding: 5px 40px;
  transition: 0.2s;
  border: 1px solid white;
}

.header__open-popup:hover {
  cursor:pointer;
  border: 1px solid #2185D0;
  color: #2185D0;  
  background-color:#fff;
}

@media(max-width: 400px) {
  .header__open-popup {
    margin-top: 16px;
  }
}

.solicitations__message{
  margin-top: 40px;
  color:rgb(117, 115, 115);
  align-self: center;
}

@media(max-width: 400px) {
  .solicitations__message{
    margin: 10px;
  }
}